<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="https://www.bistek.com.br/media/catalog/product/cache/15b2f1f06e1cd470c80b1f3fd7ec8301/9/9/997463.jpg" alt="">
          <ion-card-content>
            <p><strong>Coca Lata</strong></p>
            <p class="ion-text-right"><ion-badge color="success">R$3,49</ion-badge></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="http://cdn.shopify.com/s/files/1/0262/9818/7812/products/guarana.jpg?v=1596472765" alt="">
          <ion-card-content>
            <p><strong>Guarana Lata</strong></p>
            <p class="ion-text-right"><ion-badge color="success">R$2,99</ion-badge></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="https://araujo.vteximg.com.br/arquivos/ids/4058763-1000-1000/07894900060010.jpg" alt="">
          <ion-card-content>
            <p><strong>Sprite lata</strong></p>
            <p class="ion-text-right"><ion-badge color="success">R$3,25</ion-badge></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://static.clubeextra.com.br/img/uploads/1/249/619249.jpg" alt="">
          <ion-card-content>
            <p><strong>Pepsi lata</strong></p>
            <p class="ion-text-right"><ion-badge color="success">R$3,99</ion-badge></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
